*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: poppins, 'sans-serif';
    background-color: gray;
    color: black;
}

ul li {list-style: none;}

.todo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(246deg, #002765, rgb(0, 0, 0));

}

.container {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.input-wrapper {
    display: flex;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    margin: 20px 0;
    border-radius: 50px;
}

#inputBox {
    flex: 1;
    padding: 5px 0 5px 20px;
    background: transparent;
    font-size: 12px;
    font-family: inherit;
    border: none;
    outline: none;
}

#add-button {
    width: 80px;
    height: 30px;
    background-color: tomato;
    font-family: inherit;
    color: white;
    border: none;
    border-radius: 50px;
    outline: none;
}

.todo-section ul li {
    height: 40px;
    padding: 5px 40px;
    margin: 10px 0;
    position: relative;
    user-select: none;
}

.todo-section ul li::before {
    width: 15px;
    height: 15px;
    content: "";
    background-image: url('./assets/unchecked.png');
    background-size: cover;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 6px;
}

.todo-section ul li.checked {
    text-decoration: line-through;
    color: gray;
}

.todo-section ul li.checked::before {
    background-image: url('./assets/checked.png');
}

.todo-section ul li span {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 6px;
    right: 15px;
}

#edit,
#delete {
    font-size: 20px;
}